# Read about factories at https://github.com/thoughtbot/factory_girl

FactoryGirl.define do
  factory :database_connection do
    name "Realmlist"
    host "127.0.0.1"
    kind "realm"
    adapter "mysql2"
    username "root"
    password ""
    database "realmd"
  end
end
