= semantic_form_for @search, url: wow_pvp_statistic_path, html: {method: :get, class: 'form-search'} do |f|
  .input-append
    = f.text_field :name_contains, class: 'span2 search-query', placeholder: t(:enter_name)
    = f.submit class: 'btn', value: t(:search)

#pvp-statistic
  = render 'pvp_characters'