footer {
  margin-top: 50px;
}

.lower-footer {
  .copyright {
    text-transform: uppercase;
    padding: 30px 0 30px 0;
    color: $gray-pale;
    border-top: 1px solid $navbar-default-border;
    .legal-links {
      display: block;
    }
    span {
      margin: 0 10px 0 0;
    }
    a {
      margin: 0 10px 0 0;
      color: $text-muted;
      white-space: nowrap;
      &:hover {
        color: white;
      }
    }
  }
}