.breadcrumb {
  line-height: 39px;
  margin-bottom: 0;
  .home-new-icon {
    margin-right: $padding-xs-horizontal;
  }
  > li {
    > a {
      color: $gray-dark;
      &:focus, &:hover {
        color: white;
      }
    }
    .divider {
      padding: 0 $padding-xs-horizontal;
      opacity: 0.25;
    }
    &.active {
      color: white;
    }
    + li:before {
      padding: 0 0;
    }
  }
}