.wow-link {
  span {
    &.icon-frame {
      float: left;
      margin-right: $padding-small-vertical;
      position: relative;
      .items-count {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 2px;
        font-weight: bold;
        color: white;
        text-shadow: 0 0 0.2em black, 0 0 0.2em black, 0 0 0.2em black;
      }
    }
    &.link-content {
      line-height: 22px;
    }
    &.frame-18 {
      .items-count {
        font-size: 11px;
        line-height: 11px;
        margin: 1px;
        text-shadow: 0 0 0.2em black, 0 0 0.2em black, 0 0 0.2em black;
      }
    }
  }

  &.yellow { @include link-emphasis-variant($yellow); }
  &.quality-0 { @include link-emphasis-variant(#9d9d9d); } /* poor (gray) */
  &.quality-1 { @include link-emphasis-variant(#ffffff); } /* common (white) */
  &.quality-2 { @include link-emphasis-variant(#1eff00); } /* uncommon (green) */
  &.quality-3 { @include link-emphasis-variant(#0081ff); } /* #0070dd rare (blue) */
  &.quality-4 { @include link-emphasis-variant(#c600ff); } /* #a335ee epic (purple) */
  &.quality-5 { @include link-emphasis-variant(#ff8000); } /* lengendary (orange) */
  &.quality-6 { @include link-emphasis-variant(#e5cc80); } /* artifact (gold) */


  &:hover {
    .icon-overlay {
      background-color: $pale;
    }
  }
}