//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

$brand-primary:         #428bca !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$gray-pale:     rgba(255,255,255,0.15);
$pale:          rgba(0,0,0,0.15);

$yellow: #ffd100;

//== Scaffolding
//
// ## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg: #281504;
//** Global text color on `<body>`.
$text-color:  rgba(255, 255, 255, 0.7);

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Blizzard', Arial, 'Helvetica Neue', Helvetica, sans-serif;

$font-size-base: 13px;

//** By default, this inherits from the `<body>`.
$headings-font-weight:    300;
$headings-color: white;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$line-height-large:         1.33 !default;
$line-height-small:         1.5 !default;

$border-radius-base:        2px !default;
$border-radius-large:       6px !default;
$border-radius-small:       0px !default;

//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Background color used for `.table-striped`.
$table-bg-accent: rgba(255, 255, 255, 0.05);;

//** Border color for table and cell borders.
$table-border-color: rgba(255,255,255,0.07);

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                normal !default;

$btn-default-color:              $link-color;
$btn-default-bg:                 rgba(0, 0, 0, 0.15);
$btn-default-border:             rgba(255, 255, 255, 0.15);

//== Forms
//
//##

//** `<input>` background color
$input-bg:                       rgba(0, 0, 0, 0.5);
//** `<input disabled>` background color
$input-bg-disabled:              rgba(20, 20, 23, 0.5);

//** Text color for `<input>`s
$input-color:                    rgba(255, 255, 255, 0.7);;
//** `<input>` border color
$input-border:                   rgba(255, 255, 255, 0.15);;
//** `<input>` border radius
$input-border-radius:            $border-radius-base !default;
//** Border color for inputs on focus
$input-border-focus:             #1e5f99;

//** Placeholder text color
$input-color-placeholder:        rgba(255, 255, 255, 0.3);


//== Navbar
//
//##

// Basics of a navbar
$navbar-margin-bottom:             50px;

$navbar-default-color:             #777 !default;
$navbar-default-bg:                rgba(255, 255, 255, 0.05);
$navbar-default-border:            rgba(255, 255, 255, 0.07);

//== Wells
//
//##

$well-bg:                     #272727;

//== Breadcrumbs
//
//##
$breadcrumb-padding-vertical:   0;
$breadcrumb-padding-horizontal: 0;
//** Breadcrumb background color
$breadcrumb-bg:                 inherit;
//** Breadcrumb text color
$breadcrumb-color:              $gray-dark;
//** Text color of current page in the breadcrumb
$breadcrumb-active-color:       white;
//** Textual separator for between breadcrumb elements
$breadcrumb-separator:          '';

//== Code
//
//##

$code-color:                  $text-color;
$code-bg:                     rgba(0, 0, 0, 0.03);

$kbd-color:                   #fff !default;
$kbd-bg:                      #333 !default;

$pre-bg:                      #141417;
$pre-color:                   white;
$pre-border-color:            $table-border-color;
$pre-scrollable-max-height:   340px !default;

//== Type
//
//##

//** Text muted color
$text-muted:                  rgba(255, 255, 255, 0.3);