@import '../partials/mixins';
@import '../partials/variables';

@include make-background-images(#330404, 'molten-core');

#spell {
  ul.detail {
    h4 {
      display: inline-block;
    }
    .spell-rank {
      color: $gray-dark;
    }
    li.item {
      padding: $padding-small-vertical 0;
    }
  }

  .info {
    .icon-frame {
      float: left;
    }
    ul.detail {
      margin-left: 80px;
    }
  }

  .spell-effect {
    .item {
      padding: $padding-small-vertical 0;
      display: block;
    }
  }

}